header {
  background: #252527;
  background-image:url('/static/images/bysmal.jpg');
  background-position: center;
  color: #e1e0e4;
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: 'Saira Extra Condensed', sans-serif;
  height: 100vh !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-display: fallback !important;
}

.main-area {
  text-transform: uppercase;
  line-height: 1 !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-area > #nepalimiti {
  font-weight: bold;
  font-size:9vw;
}

.main-area > #date-today {
  font-weight: bold;
  font-size: 6vw;
}

.main-area > #live-time {
  font-size: 12.5vw;
}